# pytorch3d is intentionally NOT listed here because it requires platform-specific
# Install pytorch3d BEFORE running this requirements file.

numpy>=1.16.5,<1.23.0   
opencv_python
Pillow
loguru
smplx==0.1.28
chumpy
timm
tensorboard
tqdm
pandas<2.0
seaborn
ipykernel
